@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5em;
    color: #001219;
}

.container {
    max-width: 1100px;
    overflow: auto;
    margin: auto;
    padding: 0 20px;
}

/* Utilities */
.lead {
    font-size: 18px;
    line-height: 1.8em;
}

.text-primary {
    color: #ee9b00;
}

h2 {
    font-size: 28px;
}

.bg-dark {
    background: #001219;
    color: #fff;
}

.btn {
    display: inline-block;
    background: #001219;
    color: #fff;
    border: none;
    padding: 13px 20px;
    font-size: 18px;
    cursor: pointer;
}

.btn-light {
    background: #e9d8a6;
    color: #001219;
}


.btn:hover {
    background: #ee9b00;
    color: #001219;
}

.box-light {
    background: #e9d8a6;
    color: #001219;
}

.clr {
    clear: both;
}

/* main header */
#main-header {
    background: #e9d8a6;
    color: #001219;
}

#main-header .logo {
    float: left;
    padding-top: 20px;
}

#main-header ul {
    float: right;
    list-style: none;
}

#main-header ul li {
    float: left;
}

#main-header ul li a {
    float: left;
    padding: 20px;
    color: #001219;
    text-decoration: none;
    text-transform: uppercase;
}

#main-header ul li a:hover,
#main-header .current {
    background: #ee9b00;
    color: #fff;
}

/* Showcase */
#showcase {
    background: url('img/showcase.jpg') no-repeat center center/cover;
    height: 600px;
    width: 100%;
}

#showcase-info {
    height: 250px;
    text-align: center;
}

#showcase-info .showcase-content {
    padding-top: 50px;
    line-height: 1.8em;
}


#showcase-info .showcase-content h1 {
    font-size: 45px;
    padding-bottom: 15px;


}

#showcase-info .showcase-content p {
    padding-bottom: 20px;
    /* color: #001219; */
}

/* History Section */
#history-info {
    height: 400px;
}

#history-info .history-img {
    float: left;
    width: 50%;
    background: url('img/photo1.jpg') no-repeat;
    min-height: 100%;
}

#history-info .history-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 90px 50px 0;
    overflow: hidden;
}

#history-info .history-content h2 {
    padding-bottom: 15px;
}

#history-info .history-content p {
    line-height: 1.8em;
    padding-bottom: 30px;
}

/* Features */
.box {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 50px 10px;
}

.box h3 {
    padding-top: 15px;
}

/* Footer */
footer {
    background: #001219;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}